# Terraform state files 
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json

# Ignore unsealed secret
*secret.yaml
secrets/*.secret.yaml
!secrets/*-sealedsecret.yaml
